.kaufman {
    background-color: #1f1f1f;
    margin: 0px auto;
    padding: 90px 0 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }